html {
    background-color: whitesmoke;

}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


@font-face {
    font-family: "Oswald";
    src: url("Oswald-Regular.ttf");
    font-weight: 500;

}

@font-face {
    font-family: "Oswald-light";
    src: url("Oswald-Regular.ttf");
    font-weight: 100;

}

.menu {
    text-align: center;

}

.menu a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

#td1 {
    font-weight: bold;
    color: red;

}

#kis {
    width:20%; height:20%;
    
    float: right;
    

}

#kozepes {

    width:60%; height:10%;
}

h3,a {
    font-family: "Oswald";
    color: darkgreen;
    font-size: 25px;
    
}
p {

    font-family: "Oswald-light";
}

.kin_tab{
    font-family: "Oswald-light";
    width: 100%;
    padding: 7% 2% 0% ; 
    
}


.box-kin {
    border: solid 2px greenyellow;
    border-collapse: collapse;
    border-radius: 5px;
    background-color: greenyellow;
    max-width: 40%;
    max-height: 60%;
    align-self: center;
    padding: 1%;
    margin: 1%;
    position: relative;
    top: 27%;
    left: 27%;
 
  }

ul {
    list-style: none;

}

img {
    box-shadow: 0 0 10px black;
      
}
   
.menu a:hover {
    text-decoration: underline;
    color: lawngreen;

}